<h2>Edit country</h2>

<%= render "form.html", changeset: @changeset,
                        action: NectarRoutes.admin_country_path(@conn, :update, @country) %>

<%= link "Back", to: NectarRoutes.admin_country_path(@conn, :index) %>
