<h2>New country</h2>

<%= render "form.html", changeset: @changeset,
                        action: NectarRoutes.admin_country_path(@conn, :create) %>

<%= link "Back", to: NectarRoutes.admin_country_path(@conn, :index) %>
