<h2>New option type</h2>

<%= render "form.html", changeset: @changeset,
                        action: NectarRoutes.admin_option_type_path(@conn, :create) %>

<%= link "Back", to: NectarRoutes.admin_option_type_path(@conn, :index) %>
