<h2>Show option type</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @option_type.name %>
  </li>

  <li>
    <strong>Presentation:</strong>
    <%= @option_type.presentation %>
  </li>

  <li>
    <strong>Position:</strong>
    <%= @option_type.position %>
  </li>

</ul>

<%= link "Edit", to: admin_option_type_path(@conn, :edit, @option_type) %>
<%= link "Back", to: admin_option_type_path(@conn, :index) %>
