<h2>Edit category</h2>

<%= render "form.html", changeset: @changeset,
                        action: NectarRoutes.admin_category_path(@conn, :update, @category), categories: @categories %>

<%= link "Back", to: NectarRoutes.admin_category_path(@conn, :index) %>
