<h2>New category</h2>

<%= render "form.html", changeset: @changeset,
                        action: NectarRoutes.admin_category_path(@conn, :create), categories: @categories %>

<%= link "Back", to: NectarRoutes.admin_category_path(@conn, :index) %>
