<div class="panel panel-default">
  <div class="panel-heading"><h2>Select user to begin or start checkout as guest</h2></div>
  <div class="panel-body">
    <select id="user-list" name="">
      <option value="">--Select User--</option>
      <%= for user <- @users do %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
    <button id="create-order" data-user-id="">create order for Guest</button>
  </div>
</div>
