use Mix.Config

# Configure your database
config :ex_shop, ExShop.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "nimish",
  password: "root",
  database: "ex_shop_dev",
  hostname: "localhost",
  pool_size: 10

# Configure your payment gateway
# See here for acquiring the stripe key
config :ex_shop, :gateway,
  type: Commerce.Billing.Gateways.Stripe,
  credentials: {"set the stripe secret key here", ""},
  default_currency: "USD"

# Register with braintree to acquire the
# merchant_id, public_key and private_key
config :ex_shop, :braintree,
  type: ExShop.Billing.Gateways.BraintreeImpl

config :braintree,
  merchant_id: "",
  public_key:  "",
  private_key: ""
