use Mix.Config

# Configure your database
config :ex_shop, ExShop.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "nimish",
  password: "root",
  database: "ex_shop_dev",
  hostname: "localhost",
  pool_size: 10
