<%= form_for @changeset, @action, fn f -> %>
  <h4>Select your shipping method</h4>
  <%= inputs_for f, :shippings, fn shipping -> %>
  <div class="form-group">
    <span class="form-label"><%= shipping.data.shipping_method.name %></span>
    <%= checkbox shipping, :selected, class: "form-control" %>
    <%= error_tag shipping, :selected %>
  </div>
  <% end %>
  <%= submit "Next", class: "btn btn-primary" %>
<% end %>
