<%= form_for @changeset, @action, fn f -> %>
  <h4>Select your shipping method</h4>
    <select name="order[shipping][shipping_method_id]">
      <%= for shipping_method <- @changeset.model.applicable_shipping_methods do %>
        <option value="<%= shipping_method.id %>"><%= shipping_method.name %> (+<%= shipping_method.shipping_cost %>)</option>
      <% end %>
    </select>
  <%= submit "Next", class: "btn btn-primary" %>
<% end %>
