<%= if ExShop.Order.in_cart_state?(@order) do %>
  <%= link "Back", to: admin_cart_path(@conn, :edit, @order), class: "btn btn-xs" %>
<% else %>
  <%= if !ExShop.Order.confirmed?(@order) do %>
    <%= link "Back", to: admin_order_checkout_path(@conn, :back, @order), method: "put", class: "btn btn-xs" %>
  <% end %>
<% end %>
<%= render next_step(@order), Map.merge(%{action: admin_order_checkout_path(@conn, :next, @order)}, assigns) %>
