<%= for product <- @products do %>
  <h4><%=  product.name %></h4>
  <h6>Liked by:</h6>
  <ul>
    <%= for liked_by <- product.liked_by do %>
      <li><%= liked_by.email %></li>
    <% end %>
  </ul>
<% end %>
