<div class="panel-group col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body"><%= @product.name %></div>
    <div class="panel-body">
      <%= link tag(:image, src: ExShop.VariantImage.url({@product.master.image, @product.master}, :thumb)), to: product_path(@conn, :show, @product) %>
    </div>
    <div class="panel-footer">
      $ <%= @product.master.cost_price %>
    </div>
  </div>
</div>
