<%= if Nectar.Order.confirmed?(@order) do %>
  <h2>Cannot reassign user on a confirmed order</h2>
<% else %>
  <%= form_for @changeset, NectarRoutes.admin_order_path(@conn, :update, @order), fn f -> %>
    <div class="form-group">
      <%= label f, :user_id, "User to associate order with", class: "form-label" %>
      <%= select f, :user_id,  @users, class: "form-control" %>
    </div>
    <%= submit "Update" %>
  <% end %>
<% end %>
