<h2>Listing Orders</h2>
<table class="table">
  <thead>
    <tr>
      <td>S.No#</td>
      <td>Placed</td>
      <td>Show</td>
    </tr>
  </thead>
  <tbody>
    <%= for order <- @orders do %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.updated_at %></td>
        <td><%= link "Show", to: order_path(@conn, :show, order), class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
