<h2>New category</h2>

<%= render "form.html", changeset: @changeset, categories_for_select: @categories_for_select,
                        action: admin_category_path(@conn, :create) %>

<%= link "Back", to: admin_category_path(@conn, :index) %>
