<h2>Show category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <li>
    <strong>Parent:</strong>
    <%= @category.parent_id %>
  </li>

  <li>
    <strong>Lft:</strong>
    <%= @category.lft %>
  </li>

  <li>
    <strong>Rgt:</strong>
    <%= @category.rgt %>
  </li>

</ul>

<%= link "Edit", to: admin_category_path(@conn, :edit, @category) %>
<%= link "Back", to: admin_category_path(@conn, :index) %>
